header {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
footer {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.site-wrap {
  position: relative;
  font-family: 'Lato', sans-serif;
  left: 0px;
}
