<div id="noteWrapper" class="borders">
  <h4 class="labelColor">{{title}}</h4><br/><br/>
  <p class="labelColor">{{content}}</p>
  <button id="note-edit-button" class="button-primary navspacing" name="button">Edit note</button>
  <button id="note-delete-button" class="button-primary navspacing" name="button">Delete note</button>
  <button id="note-new-button" class="button-primary navspacing" name="button">New note</button>
</div>
